
.degrade-angulaire {
    background: radial-gradient(ellipse at bottom, #0b1829 0%, #000000 100%);
    width: 100vw;
    max-width: 100%;
    height: 100vh;    
  }


.navbar{

    background-color: transparent;
    filter: blur(0px);
    color: white;
    top: 0;
}
.navbar a {

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }



/* Text typing */
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 10%;
    margin-left: 10%;
  }
  

  .typingNom {
    width: 15ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2.7em;
    color: white;
  }
  .apparition{
    animation: apparition 5s;
    color: #d3cfcf;
    font-size: 2.4em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @keyframes apparition{
    0%  {opacity:0;}
   100% {opacity:1;}
  }

  .textPresentation{
    color: black;
    font-size: 2em;
  }

/*   .nom{
    font-size: 3em;
  } */
